Descriptive and Inferential Analysis

Definitions:
* E = Everyone
* ET = EVeryone 10+
* T = Teen
* M = Mature

In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [2]:
df = pd.read_csv('data/esrb_ratings.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1895 entries, 0 to 1894
Data columns (total 34 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   title                     1895 non-null   object
 1   console                   1895 non-null   int64
 2   alcohol_reference         1895 non-null   int64
 3   animated_blood            1895 non-null   int64
 4   blood                     1895 non-null   int64
 5   blood_and_gore            1895 non-null   int64
 6   cartoon_violence          1895 non-null   int64
 7   crude_humor               1895 non-null   int64
 8   drug_reference            1895 non-null   int64
 9   fantasy_violence          1895 non-null   int64
 10  intense_violence          1895 non-null   int64
 11  language                  1895 non-null   int64
 12  lyrics                    1895 non-null   int64
 13  mature_humor              1895 non-null   int64
 14  mild_blood                1895 non-null   int64
 15  mild_cartoon_violence     1895 non-null   int64
 16  mild_fantasy_violence     1895 non-null   int64
 17  mild_language             1895 non-null   int64
 18  mild_lyrics               1895 non-null   int64
 19  mild_suggestive_themes    1895 non-null   int64
 20  mild_violence             1895 non-null   int64
 21  no_descriptors            1895 non-null   int64
 22  nudity                    1895 non-null   int64
 23  partial_nudity            1895 non-null   int64
 24  sexual_content            1895 non-null   int64
 25  sexual_themes             1895 non-null   int64
 26  simulated_gambling        1895 non-null   int64
 27  strong_janguage           1895 non-null   int64
 28  strong_sexual_content     1895 non-null   int64
 29  suggestive_themes         1895 non-null   int64
 30  use_of_alcohol            1895 non-null   int64
 31  use_of_drugs_and_alcohol  1895 non-null   int64
 32  violence                  1895 non-null   int64
 33  esrb_rating               1895 non-null   object
dtypes: int64(32), object(2)
memory usage: 503.5+ KB

In [3]:
df.isnull().sum()

title                       0
console                     0
alcohol_reference           0
animated_blood              0
blood                       0
blood_and_gore              0
cartoon_violence            0
crude_humor                 0
drug_reference              0
fantasy_violence            0
intense_violence            0
language                    0
lyrics                      0
mature_humor                0
mild_blood                  0
mild_cartoon_violence       0
mild_fantasy_violence       0
mild_language               0
mild_lyrics                 0
mild_suggestive_themes      0
mild_violence               0
no_descriptors              0
nudity                      0
partial_nudity              0
sexual_content              0
sexual_themes               0
simulated_gambling          0
strong_janguage             0
strong_sexual_content       0
suggestive_themes           0
use_of_alcohol              0
use_of_drugs_and_alcohol    0
violence                    0
esrb_rating                 0
dtype: int64

In [4]:
df.head()

,title,console,alcohol_reference,animated_blood,blood,blood_and_gore,cartoon_violence,crude_humor,drug_reference,fantasy_violence,...,sexual_content,sexual_themes,simulated_gambling,strong_janguage,strong_sexual_content,suggestive_themes,use_of_alcohol,use_of_drugs_and_alcohol,violence,esrb_rating
0,Monster Jam Steel Titans 2,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,E
1,Subnautica: Below Zero,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ET
2,NIER REPLICANT VER.1.22474487139…,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,M
3,Jamestown+,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,ET
4,Neptunia Virtual Stars,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,T

In [5]:
df.esrb_rating.unique()

array(['E', 'ET', 'M', 'T'], dtype=object)